@{ ViewBag.Title = "Challenge!"; }

<div id="getMasteryInfo" data-url="@Url.Action("GetMasteryInfo", "Riot", new { httproute = "DefaultApi" })"></div>
<div id="getSummonerInfo" data-url="@Url.Action("GetSummonerInfo", "Riot", new { httproute = "DefaultApi" })"></div>
<div id="getAllChamps" data-url="@Url.Action("GetAllChamps", "Riot", new { httproute = "DefaultApi" })"></div>
<div id="getSpecificChamp" data-url="@Url.Action("GetSpecificChamp", "Riot", new { httproute = "DefaultApi" })"></div>

<h2>Summoner Search</h2>
<form id="summonerSearchForm">
    <input type="search" id="summonerSearchText"/>
    <input type="submit" id="summonerSearchSubmit" value="Search" class="btn-primary"/>
</form>
<div style="margin-top: 10px"></div>
<div id="searchResult" style="display:none">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Summoner Name</label>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <label>Summoner Level</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <p id="summonerName"></p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <p id="summonerLevel"></p>
        </div>
    </div>
</div>
<div class="row" id="champions" style="display:none">
    <div style="margin-top: 10px"></div>
</div>
<div class="row" id="masteries" style="display:none">
    <div style="margin-top: 10px"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Champion</label>
                <p id="championName"></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Mastery Level</label>
                <p id="championLevel"></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Total Mastery Points</label>
                <p id="championPoints"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Points Since Last Level</label>
                <p id="championPointsSinceLastLevel"></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Points Until Next Level</label>
                <p id="championPointsUntilNextLevel"></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Last Played Date</label>
                <p id="lastPlayTime"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <input type="submit" id="backToChampionsList" value="Back To Champions List" class="btn-primary" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/challenge.js"></script>
}